*.out
*.o
*.obj
*.tokens
*.asm
*.hex
*.bin
.file.dg
./main
a.out
.idea/
cmake-build-debug/

*.dot
*.png

# register allocation table dump
*.rat

tags

# build folder
build/

.cache/

# local TODO file
TODO
