os: linux
dist: focal #default dist, distro matrix is in 'jobs'

compiler: gcc
language: c

#https://docs.travis-ci.com/user/reference/overview/
#as per their docs, not every dist/arch combination is allowed.

jobs:
  include: 
    #- dist: focal # 20.04
    #  arch: amd64 #/usr/bin/ld: cannot find -lfl
    
    - dist: focal
      arch: arm64

    #- dist: bionic # 18.04
    #  arch: amd64 #/usr/bin/ld: cannot find -lfl

    - dist: bionic
      arch: arm64

    - dist: xenial # 16.04
      arch: amd64

    - dist: xenial
      arch: arm64
    
before_install:
- pwd
- cd .
addons:
  apt:
    packages:
      - flex
      - cmake
install: pwd
script: make all
env:
- export PATH=$PATH:$(pwd):$(pwd)/lexer:$(pwd)/parser:$(pwd)/transpiler
