
h1,h2,h3,h4,h5 {
	color: #D14F42; 
}

body {
	font-family: monospace;
	background-color: #ffe0a5;
}

a {
	color: #006C11;
}

pre {
	/* highlight code snippets */
	background-color: rgba(235, 204, 145);
}

.nav-bg{
	background-color: rgb(159, 201, 167);
	padding: 3px;
}

.nav-bg a {
	color: rgb(209, 79, 66);
	font-size: 1.2em;
}

.box {
	border: 1px solid rgb(209, 79, 66);
	border-radius: 6px;
	margin: 2px;
	padding: 5px;
}
