
h1,h2,h3,h4,h5 {
	color: #D14F42; 
}

html {
	/* padding from the top when clicking 
	 * <a href="#my_id">...</a>
	 * section links
	 * https://getpublii.com/blog/one-line-css-solution-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header.html
	 */
	scroll-margin-top: 20%;
	scroll-padding-top: 20%;
}

body {
	font-family: monospace;
	font-size: 1rem;
	background-color: #fefefe;
}

a {
	color: #006C11;
}

pre {
	/* highlight code snippets */
	background-color: rgb(235, 204, 145);
	border-radius: 0.3rem;
	padding: 1rem;
	font-size: 1rem;
}

.nav-bg{
	background-color: rgb(159, 201, 167);
	padding: 0.6rem;
}

.nav-bg a {
	color: rgb(209, 79, 66);
	font-size: 1.2rem;
}

.box {
	border: 1px solid rgb(209, 79, 66);
	border-radius: 6px;
	margin: 2px;
	padding: 5px;
}
